# =========================
# Python
# =========================
backend/venv/
venv/
__pycache__/
*.pyc

# =========================
# ML Models
# =========================
*.pkl
*.joblib

# =========================
# Datasets
# =========================
*.csv
*.zip
*.gz

# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Environment
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
Thumbs.db
.DS_Store